.app {
    background: #f1f1f1;
    display: grid;  
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    grid-area: cabecalho;
}
 
.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}