.cabecalho {
    background: #00161C;
    color: #FFF;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .75rem 0;
    border-bottom: 1px solid #103D4A;  
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    width: 80%;
}

.cabecalho__navegacao__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    font-size: 1.1rem;
    margin-bottom: .65rem;
}

.cabecalho__link {
    padding: .5rem 0;
    padding-right: .4rem;
}

.cabecalho__link:hover {
    color: #B72E2E;
}