.cabecalho {
    background: var(--bg-chamada-mobile);
    color: var(--branco);
    width: 100%;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);  
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    width: 70%;
}

.cabecalho__navegacao__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    font-size: 1.1rem;
    margin-bottom: .65rem;
}

.cabecalho__link {
    padding: .5rem 0;
    padding-right: .4rem;
}

.cabecalho__link:hover {
    color: var(--vermelho-forte);
}

@media screen and (min-width: 1024px){
    .cabecalho{
        flex-direction: row;
        justify-content: space-around;  

        border: none;
        position: absolute;
        background: none;
    }

    .cabecalho__navegacao{
        width: 50%;
    }
}