/** Contato **/
.contato input,
.contato button {
  display: block;
}

form {
  margin: 0 auto;
  width: 50%;
}

.contato input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  @include borda-arrendodada();
  border: 2px solid #ccc;
}

.contato button {
  margin: 0 auto;
  background: #66DDDD;
  border: 0;
  color: $cor-branca;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include borda-arrendodada();
  //@include sombra-padrao();
  @extend %sombra-padrao;
}