.banner__imagem{
    width: 100%;
    /* height: calc(100vh - 72px); */

    background: url(../../img/banner.jpg) no-repeat center / cover;

    /* background-image: url(../../img/banner.jpg) no-repeat center / cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

@media screen and (min-width: 0){
    .banner__imagem{
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px){
    .banner__imagem{
        height: calc(100vh - 72px);
    }
}