.cabecalho{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    box-sizing: content-box;
}






