.receita__botao{
    background-color: #8d0606;
    color: #fdfdfd;

    border: none;
    border-radius: 5px;

    padding: 1rem;

    transition: all 1s ease-in-out;

    margin-left: 25%;
}

.receita__botao:hover {
    background: #620404;
    cursor: pointer;
}