.cabecalho{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    box-sizing: content-box;
}

@media screen and (min-width: 0){
    .cabecalho{
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px){
    .cabecalho{
        justify-content: space-between;
        padding: 0 5rem;
    }
}




